<div class="login-page">
  <div class="content px20">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="text-center">
        <h2 class="app-name">Login</h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country_code">
              <mat-option *ngFor="let country of countries" [value]="country.country_code">
                {{country.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput formControlName="identification" placeholder="Identification" >
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput type="password" formControlName="password" placeholder="Password">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" class="mt20 mb20">
        <mat-checkbox color="primary" [ngStyle.xs]="{'margin-bottom.px': 10}">Remember Me</mat-checkbox>
        <a href="javascript:void(0)">Forgot Password</a>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <!-- <button type="submit" [disabled]='loginForm.invalid' mat-raised-button color="primary" class="w-100">Login</button> -->
          <button type="submit" mat-raised-button color="primary" class="w-100">Login</button>
          <button type="button" mat-button color="primary" class="w-100" routerLink="/register">Sign Up</button>
        </div>
      </div>
      <mat-error *ngIf="errorsList">
        {{errorsList[0]}}
      </mat-error>

    </form>
  </div>
</div>